
<div class="container my-3">
    <h1>PONEMOS LA TABLA DE TODOS LOS USUARIOS</h1>
    <a href="/registro" class="btn btn-primary btn-primaria">Nuevo Usuario</a>
    <div class="row mt-5" >              
          <table  id="tabla-tareas" class="table table-striped table-ligth table-bordered table-hover">
              <thead>
                <tr>
                  <th class="edicion">Nro.</th>
                  <th>Apellido</th>
                  <th>Nombre</th>
                  <th>DNI</th>
                  <th>Dirección</th>
                  <th>Localidad</th>
                  <th>Correo</th>
                  <th>Telefono</th>
                  <th>Iglesia</th>
                  <th>cargo</th>
                  <th class="edicion">Acción</th>
                </tr>
              </thead>
              <tbody>
                <% results.forEach(function(item) { %>
                <tr>
                  <td><%= item.idUsuario %></td>
                  <td><%= item.apellido %></td>
                  <td><%= item.nombre %></td>
                  <td><%= item.dni %></td>
                  <td><%= item.direccion %></td>
                  <td><%= item.localidad %></td>
                  <td><%= item.correo %></td>
                  <td><%= item.telefono %></td>
                  <td><%= item.nombreFilial %></td>
                  <td><%= item.nombreCargo %></td>
                  <td>
                    <input type='image' src='/img/Editar.png' data-bs-toggle="modal" data-bs-target="#modal-editar-tarea" class ='img_boton' id = ""  > 
                    <input type='image' src='/img/Eliminar.png' data-bs-toggle="modal" data-bs-target="#modal-eliminar-tarea" class ='img_boton' id = "" >
                  </td>
                </tr>
                <% }); %>
              </tbody>
          </table>
      </div>
    </div>
